/* Main */

#main {
  background-color: _palette(white-bg);

  > * {
    border-top: solid 1px _palette(border);

    &:first-child {
      border-top: 0;
    }

    @include inner;
  }

  &.alt {
    background-color: transparent;
    border-bottom: solid 1px _palette(border);
  }

  .post-content-container {
    max-width: 800px;
    margin: auto;
  }

  .posts-thumbnail-container {
    max-width: 900px;
    margin: auto;
    min-height: 500px;
  }
}

.post-title-container {
  max-width: 900px;
  margin: auto;
  padding-top: 5%;
}
