.markdown-post {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: _palette(bg-alt);
    font-weight: 400;
    font-size: 20px !important;
    line-height: 1.65;
    margin: 0 0 (_size(element-margin) * 0.5) 0;

    a {
      color: inherit;
      border-bottom: 0;
    }
  }
  p {
    font-size: 19.5px;
    word-wrap: break-word;
    // line-height: 20px;
  }

  code{
    word-wrap: break-word;
  }
}
